.admin-user .result._busy{background-position:580px center}
.admin-user #ob_write_radio span{float:right;color:#777}
.admin-user .left{padding:8px}
.admin-user .un{padding-bottom:8px;margin-bottom:8px;border-bottom:#dae1e8 solid 1px}
.admin-user .tab{width:100%}
.admin-user .img{width:57px;vertical-align:top}
.admin-user .inf{vertical-align:top}
.admin-user em{background-color:#ffc;border-bottom:#fe2 solid 1px;font-weight:bold}
.admin-user .dlast{float:right;font-size:10px;color:#777;text-align:right}
.admin-user .city{color:#aaa}
.admin-user .ob{
	display:inline-block;
	padding:3px 7px;
	margin-top:5px;
	color:#fff;
	background-color:#9ad
}
.admin-user .ob:hover{text-decoration:none}
.admin-user .act{background-color:#7d7}
.admin-user .arc{background-color:#aaa}
.admin-user .del{background-color:#833}
.admin-user .new{background-color:#7e7;margin-left:15px;padding:1px 9px;}
.admin-user ._empty{margin:3px}
