.admin-user .result._busy{background-position:580px center}
.admin-user #ob_write_radio span{float:right;color:#777}
.admin-user .left{padding:8px}
.admin-user .right{width:150px}
.admin-user .user-unit{padding-bottom:8px;margin-bottom:8px;border-bottom:#dae1e8 solid 1px}
.admin-user em{background-color:#ffc;border-bottom:#fe2 solid 1px;font-weight:bold}
.admin-user ._empty{margin:3px}
.admin-user #app_setup_check{margin-top:20px}
.admin-user #left_menu_check{margin-top:8px}

.user-unit .tab{width:100%}
.user-unit .img{width:50px;vertical-align:top;text-align:center;padding-right:7px}
.user-unit .id{font-size:10px;color:#888}
.user-unit .inf{vertical-align:top}
.user-unit .dlast{float:right;font-size:10px;color:#777;text-align:right}
.user-unit .today{color:#4a4;font-size:10px}
.user-unit .city{color:#aaa}
.user-unit .ob{
	display:inline-block;
	padding:3px 7px;
	margin-top:5px;
	color:#fff;
	background-color:#9ad
}
.user-unit .ob:hover{text-decoration:none}
.user-unit .act{background-color:#7d7}
.user-unit .arc{background-color:#aaa}
.user-unit .del{background-color:#833}
.user-unit .new{background-color:#7e7;margin-left:15px;padding:1px 9px;}

#user-info .left{padding:10px}
#user-info .itab{border-spacing:4px;margin-top:10px}