._dialog-tab{border-spacing:8px}
._dialog-tab input[type="text"]:not(.money){width:210px}
._dialog-tab .label{text-align:right}


#client #find{background-color:#F7F7F7;padding:10px;border-bottom:#dae1e8 solid 1px}
#client .left{padding:0 8px 8px 8px}
#client .right{width:150px}
#client .dolg{color:#777;margin-left:10px;font-size:10px}
#client #person_select{margin-top:5px}
#client #skidka_select{margin-top:5px}
#client #dolg_check{margin-top:20px}
#client .unit{margin-top:8px;border-bottom:#dae1e8 solid 1px;padding:5px}
#client .unit em{background-color:#FFC; border-bottom:#FE2 solid 1px}
#client .cltab{border-spacing:3px}
#client .label{width:80px}
#client .dop_fio{color:#999;margin-left:6px;font-size:10px}
#client .dop_fio em{font-size:10px}
#client .balans{float:right;width:110px;color:#888}
#client .balans b{float:right;color:#090}
#client b.minus{color:#a00}

/* Окно внесения нового клиента */
.client-add{border-spacing:8px}
.client-add .label{text-align:right}
.client-add .img_edit{margin:0 0 4px 8px}
.client-add input{width:250px}

/* Информация о клиенте */
#clientInfo .left{padding-bottom:10px}
#clientInfo ._info{margin:10px;font-weight:bold;text-align:center;background-color:#fee;color:red}
#clientInfo .cname{color:#31618C;font-size:12px;font-weight:bold;margin:15px 5px 5px 20px}
#clientInfo .cinf{border-spacing:4px;margin:0 10px 0 28px}
#clientInfo .label{width:95px}
#clientInfo .plus{color:#090}
#clientInfo .minus{color:#a00}
#clientInfo .dtime_add{font-size:10px;color:#999;text-align:right;margin:10px}
#clientInfo #dopLinks{border-top:#dae1e8 solid 1px}
#clientInfo #dopLinks.busy{background-position:right center}
#clientInfo #zayav_result{color:#777;text-align:center}
#clientInfo ._next{margin:5px 10px 0 10px}
#clientInfo #income_spisok,#clientInfo #histories{margin:10px;display:none}
#clientInfo #income_spisok ._empty{margin:0;padding:60px 10px}
#clientInfo #notes{margin:0 10px;display:none}
#clientInfo .history_unit{width:440px;overflow:hidden}
#clientInfo .right{width:145px;height:auto}
#clientInfo .cdel{color:red}


#zayav .left{background-color:#f7f7f7}
#zayav .right{border-left:0;padding-left:0}
#zayav #find{margin-top:10px}
#zayav .img_word{float:right;position:relative;top:-1px;left:10px}
#zayav #nopublic_check{margin-top:20px}
#zayav #nomer_select .selun b{display:inline-block;width:14px;text-align:right;margin-right:2px}
#zayav #nomer_select .selun span{display:inline;color:#555}
#zayav #nomer_select .selun.ov span{color:#ddd}
#zayav #nomer_select .selun .lost,#zayav #nomer_select .selun .lost *{color:#777}
#zayav #nomer_select .selun.ov .lost,#zayav #nomer_select .selun.ov .lost *{color:#bbb}
.zayav_unit{
	border:#DAE1E8 solid 1px;
	background-color:#fff;
	margin:8px;
	padding:6px 8px;
}
.zayav_unit .name{display:block;font-size:13px;font-weight:bold}
.zayav_unit .dtime{font-size:10px;color:#888;float:right}
.zayav_unit .tab{width:100%}
.zayav_unit .td-values{vertical-align:top}
.zayav_unit .image{vertical-align:top;width:80px;text-align:center}
.zayav_unit .values{border-spacing:4px}
.zayav_unit .label{width:60px}
.zayav_unit .ug{margin:0 5px;color:#777}
.zayav_unit .txt{
	border:#eee solid 1px;
	font:14px Times New Roman;
	background-color:#fffff0;
	padding:2px 4px;
	display:inline-block;
}
.zayav_unit .manual{font-size:10px;color:#888;margin-left:5px}
.zayav_unit em{background-color:#e1e7ed}
.zayav_unit .txt em{font:14px Times New Roman}
.zayav_unit .name em{font-size:13px;font-weight:bold}

.zayav_next{margin:0 8px 10px}


/* Список номеров при внесении и редактировании заявок */
#gnGet{margin:-3px 0 15px -5px}
#gnGet #dopLinks{padding:0 0 5px 5px;border:none;background-color:transparent}
#gnGet #dopLinks a{margin-right:5px}
#gnGet #dopDef_dropdown{margin:-4px 0 0 7px}
#gnGet .gn-spisok{margin-left:-127px}
#gnGet #darr{
	font-size:12px;
	text-align:center;
	color:#AAA;
	height:15px;
	width:245px;
	cursor:pointer;
	padding:1px 0 3px;
}
#gnGet #darr:hover{background-color:#e1e7ed;color:#444}
#gnGet .gns-week {
	width:245px;
	background-color:#FFF;
	border:#DDD solid 1px;
	margin-bottom:2px;
	cursor:pointer;
	height:19px;
}
#gnGet .gns-week:hover{border:#99A solid 1px}
#gnGet .td { padding:2px 3px; color:#333; font-size:10px; }
#gnGet .td b,#gnGet .td tt{font-size:10px}
#gnGet .g{color:#888;margin-left:3px;font-size:10px}
#gnGet .cena {
	width:50px;
	border:none;
	padding:0 2px;
	text-align:right;
	border-left:#FFF solid 1px;
	color:#FFF;
	overflow: hidden;
}
#gnGet .gnsel{background-color:#BFB}
#gnGet .gnsel .cena{
	border-left:#DDD solid 1px;
	background-color:#EFE;
	cursor:pointer;
	color:#444;
}
#gnGet .prev{background-color:#FFB}
#gnGet .vdop{padding-left:8px}
#gnGet #selCount{
	width:127px;
	vertical-align:top;
	text-align:right;
	color:#666;
	font:bold 10px Tahoma;
	padding-right:5px;
}
#gnGet #selCount a{font-size:10px;display:block;color:#aaa}


/* Таблица для внесения платежа */
.income-add-tab{border-spacing:8px}
.income-add-tab .label{width:110px;text-align:right}
.income-add-tab .img_edit{position:relative;top:-4px;left:4px}
.income-add-tab #prim{width:220px}

/* Итоговая сумма для списка платежей */
._moneysum{margin-bottom:7px}

/* Внесение новой заявки */
#zayav-add{background-color:#F7F7F7;padding:20px 5px 40px 5px}
#zayav-add .headName{margin:0 30px 20px 30px}
#zayav-add .zatab{border-spacing:8px;width:100%}
#zayav-add .label{width:155px;text-align:right}
#zayav-add #ztxt{font:bold 12px Verdana;width:350px;height:39px}
#zayav-add #rubric_id_select{margin-right:5px}
#zayav-add #txt-count{color:#583;margin:3px}
#zayav-add #txt-count span{font-size:10px;color:#888;margin-left:10px}
#zayav-add #telefon,#zayav-add #adres{width:350px}
#zayav-add #size_x,#zayav-add #size_y{width:30px}
#zayav-add #kv_sm{width:45px;cursor:default}
#zayav-add .xb{font:12px Trebuchet MS;margin:0 5px;color:#777}
#zayav-add sup{font-size:10px;position:relative;top:2px}
#zayav-add #summa{width:60px;font:15px Tahoma;text-align:right}
#zayav-add #summa:not(:read-only){background-color:#ff8}
#zayav-add #skidka-txt{margin-left:5px;color:#999;font-size:10px}
#zayav-add #note{height:26px;width:350px}
#zayav-add .vkButton{margin-right:8px}





/* Информация о заявке */
#zayav-info ._info{margin:10px;font-weight:bold;text-align:center;background-color:#fee;color:red}
#zayav-info .headName{margin:10px 15px 5px}
#zayav-info .zdel{color:red;float:right;margin-top:3px}
#zayav-info .off{color:#888;float:right;margin-top:3px;cursor:default}
#zayav-info:not(.h) .histories,#zayav-info.h .content{display:none}
#zayav-info .ztab{border-spacing:6px;margin-left:15px}
#zayav-info .label{width:100px}
#zayav-info .ug{margin:0 7px;color:#777}
#zayav-info .ztxt{
	border:#DDD solid 1px;
	background-color:#FFFFF4;
	font:16px Times New Roman;
	padding:4px 6px;
}
#zayav-info .tel{font:bold 14px Times New Roman;color:#555;display:block;margin-top:3px}
#zayav-info .images td{vertical-align:top}
#zayav-info .images img{margin-right:4px;cursor:pointer}
#zayav-info .manual{font-size:10px;margin-left:10px;color:#888}
#zayav-info .skidka{font-size:10px;color:#999;margin-left:10px}
#zayav-info .gn tr{background-color:#DFD}
#zayav-info .gn .nomer{text-align:right;width:50px}
#zayav-info .gn em{margin-left:3px;color:#888}
#zayav-info .public{font-size:10px;text-align:right;color:#555;width:80px}
#zayav-info .gn .cena{text-align:right}
#zayav-info .gn .dop{color:#444;font-size:10px}
#zayav-info tr#lost-count{text-align:center;background-color:#eee;cursor:pointer;color:#555}
#zayav-info tr#lost-count:hover{background-color:#F9F9F9}
#zayav-info .gn tr.lost{background-color:#F9F9F9;display:none}
#zayav-info .gn tr.lost td{color:#777}
#zayav-info .added{
	margin:5px 10px;
	color:#888;
	font-size:10px;
	text-align:right;
}
#zayav-info .headBlue{margin:10px 10px 0}
#zayav-info #income_spisok{margin:0 10px 10px}
#zayav-info .vkComment{margin:15px 10px}
#zayav-info .histories{margin:10px 15px}

/* Редактирование заявки */
#zayav-edit{padding-bottom:50px}
#zayav-edit .headName{margin:10px 15px 15px}
#zayav-edit .zetab{border-spacing:10px;margin-left:10px}
#zayav-edit .label{width:155px;text-align:right}
#zayav-edit #ztxt{font:bold 12px Verdana;width:350px;height:39px}
#zayav-edit #rubric_id_select{margin-right:5px}
#zayav-edit #txt-count{color:#583;margin:3px}
#zayav-edit #txt-count span{font-size:10px;color:#888;margin-left:10px}
#zayav-edit #telefon,#zayav-edit #adres{width:350px}
#zayav-edit #size_x,#zayav-edit #size_y{width:30px}
#zayav-edit #kv_sm{width:45px;cursor:default}
#zayav-edit .xb{font:12px Trebuchet MS;margin:0 5px;color:#777}
#zayav-edit sup{font-size:10px;position:relative;top:2px}
#zayav-edit #summa{width:60px;font:15px Tahoma;text-align:right}
#zayav-edit #summa:not(:read-only){background-color:#ff8}
#zayav-edit #skidka-txt{margin-left:5px;color:#999;font-size:10px}
#zayav-edit .vkButton{margin-right:8px}



#report .right{width:160px;padding-bottom:200px}
#report.history .left{padding:10px}
#report .history_unit{width:445px;overflow:hidden}
.history_unit{margin-bottom:12px;padding-bottom:8px;border-bottom:#dae1e8 solid 1px}
.history_unit .head{font-size:10px}
.history_unit .head span{color:#777;font-size:10px;margin-right:10px}
.history_unit ul{margin:5px 0 7px 25px}
.history_unit li{margin:0 0 8px}
.history_unit .li{margin-left:-4px}
.history_unit em{color:#707070}
.history_unit .changes *{font-size:10px;color:#777}
.history_unit .changes table{border-collapse:collapse;margin-top:3px}
.history_unit .changes th{text-align:right;font-weight:700}
.history_unit .changes th,.history_unit .changes td{border:#ddd solid 1px;padding:2px 4px;vertical-align:top}
.history_unit a.deleted{color:#a66}
.history_unit .prim{font:italic 11px Arial;color:#555}
.history_unit .oplata{color:#770}
.income-show{white-space:nowrap}
.income#report .headName{margin:10px}
.income .inc-path{margin:15px 10px}
.income .inc-path._busy{background-position:right center}
.income ._calendarFilter{margin:15px 0 10px}
.income .sums{margin:10px}
.income .sums td{white-space:nowrap}
.income #spisok{margin:15px 10px}
.income ._empty{margin:0}
.income_data{margin:15px 0 3px;text-align:center}
._money a.deleted{color:#a66}
.expense#report .headName{margin:10px}
.expense #spisok{margin:15px 10px}
.expense .years{margin-top:20px}
.expense #monthList div{display:block;margin-bottom:5px}
.expense #monthList .sum{float:right}
.expense ._empty{margin:0}
#expense-add-tab{border-spacing:8px}
#expense-add-tab .label{width:80px;text-align:right}
#expense-add-tab #about{width:230px}
#expense-add-tab .img_edit{position:relative;top:-4px;left:4px}

.invoice#report .headName{margin:10px}
.invoice#report .headName span{display:inline-block;float:right;margin:0 6px}
.invoice#report .transfer{color:#d33}
.invoice pre{color:#777;font-size:10px;margin:3px 7px}
.invoice .balans{text-align:right}
.invoice .img_note{margin-bottom:-2px}
.invoice #invoice-spisok{margin:10px 10px 25px}
.invoice #transfer-spisok{margin:10px}
.invoice-transfer{border-spacing:10px}
.invoice-transfer #note{width:242px}
.invoice-history{margin-top:10px}
.invoice-history .action{width:80px}
.invoice-history .balans{width:70px;text-align:right}
.invoice-history .sum-change{font-size:10px;color:#555}




#setup .left{padding:15px}
#setup .headName{margin:0 0 15px}
#setup .right{padding:0;width:180px;border-left:0}
#setup .rightLink a.sel{border-color:#6B8EB5}
#setup ._spisok{margin-bottom:1px}

.setup-tab{border-spacing:10px}
.setup-tab input{width:250px}
.setup-tab #razmer{width:30px}
.setup-tab #cena{width:50px}

#setup_worker .headName{margin-bottom:15px}
#setup_worker .unit,#setup_worker_add table{border-spacing:10px;border:#DDE solid 1px;width:300px;margin:6px 0 6px 20px}
#setup_worker .unit td,#setup_worker_add td{vertical-align:top}
#setup_worker .photo,#setup_worker_add .photo{width:50px}
#setup_worker .photo img,#setup_worker_add .photo img{width:50px;height:50px}
#setup_worker .img_del{float:right;margin-top:2px}
#setup_worker .name,#setup_worker_add .name{font-weight:bold;font-size:12px;color:#45688e}
#setup_worker .rules_set{display:block;margin-top:5px}
#setup_worker_add{margin:10px 0}
#setup_worker_add h1{font-weight:bold;color:#31618C}
#setup_worker_add input{width:240px;padding:5px;height:13px;margin:7px 5px 0 0}
#setup_worker_add .res{margin:10px 0 0 20px}

#setup_gn .headName{margin-bottom:0}
#setup_gn #dopLinks{margin-bottom:10px}
#setup_gn .vkButton{margin:20px 0 0 160px}
#setup_gn ._spisok{width:100%}
#setup_gn .grey *{color:#888}
#setup_gn .nomer{text-align:center}
#setup_gn .print{text-align:right}
#setup_gn .pub{text-align:right}
#setup_gn .z{text-align:center}
#setup_gn .edit{background-color:#ffa}
#setup_gn s{display:none}
.setup-gn-tab{border-spacing:8px}
.setup-gn-tab #week_nomer{width:15px;text-align:right;margin-right:6px}
.setup-gn-tab #general_nomer{width:30px;text-align:right}
.setup-gn-tab .gn-info{
	border:#ddd solid 1px;
	padding:6px 10px;
	background-color:#ffe;
	text-align:justify;
	margin-bottom:10px;
}
.setup-gn-tab .label{width:135px;text-align:right}


.setup-tab{border-spacing:10px}
.setup-tab .label{text-align:right}
.setup-tab #name{width:210px}
.setup-tab textarea{width:210px;height:70px}

#setup_person .name{width:180px}
#setup_person td.name{cursor:move}
#setup_person .cl{width:60px;text-align:center}
#setup_person .set{width:40px}

#setup_rubric .name{width:150px}
#setup_rubric td.name{cursor:move}
#setup_rubric .sub{width:75px;text-align:center}
#setup_rubric .ob{width:75px;text-align:center}
#setup_rubric .set{width:40px}

#setup_rubric_sub .headName{margin-top:10px}
#setup_rubric_sub .name{width:180px}
#setup_rubric_sub td.name{cursor:move}
#setup_rubric_sub .ob{width:75px;text-align:center}
#setup_rubric_sub .set{width:40px}

#setup_oblen table{border-spacing:6px;margin:30px 0 0 50px}
#setup_oblen td{text-align:right}
#setup_oblen input{width:20px;text-align:right}
#setup_oblen .vkButton{margin:10px 0 0 150px}

#setup_obdop .name{width:180px}
#setup_obdop .cena{width:80px;text-align:center}

#setup_polosa .name{width:230px}
#setup_polosa td.name{cursor:move}
#setup_polosa .cena{width:80px;text-align:center}
#setup_polosa .set{width:40px}

#setup_invoice .name{vertical-align:top;width:170px}
#setup_invoice .type{vertical-align:top}
#setup_invoice pre{color:#777;font-size:10px;margin:3px 7px}

#setup_money .name{width:200px}
#setup_money td.name{cursor:move}
#setup_money .opl{width:60px;text-align:center}
#setup_money .set{width:40px}

#setup_skidka .razmer,#setup_skidka .cl{text-align:center}
#setup_skidka .about{width:160px}

#setup_expense .name{width:180px}
#setup_expense td.name{cursor:move}
#setup_expense .worker{width:80px;text-align:center}
#setup_expense .opl{width:60px;text-align:center}
#setup_expense .set{width:35px}
