BODY { background-color:#FFF; }
* {
  padding:0px;
  margin:0px;
  font:11px Tahoma;
}
A {
  color:#2B587A;
  text-decoration: none;
  outline:none;
  cursor:pointer;
}
A:hover { text-decoration:underline; }
B { font-weight:bold; }
INPUT, TEXTAREA {
  border:#CCC solid 1px;
  padding:3px 5px;
  outline:none;
}
IMG { border:none; }



/* Œ—ÕŒ¬ÕŒ≈ Œ ÕŒ ‘–≈…Ã¿ */
#frameBody {
  background-color:#FFF;
  width:627px;
  border-bottom:#DAE1E8 solid 1px;
  overflow:visible;
}






/* œ”“‹ */
.path {
  background-color:#F7F7F7;
  border-bottom:#DAE2E8 solid 1px;
  font-weight:bold;
  padding:4px 10px;
}
.path A { font-weight:bold; }
.path SPAN {
  float:right;
}
.path SPAN A { font-weight:normal; }





/* ÌËÊÌˇˇ Ô‡ÌÂÎ¸ ‡‰ÏËÌËÒÚËÓ‚‡ÌËˇ */
#admin {
  text-align:center;
  background-color:#F7F7F7;
  border-top:#DDD solid 1px;
  padding:2px 0px 3px 0px;
}
#admin A {
  color:#888;
  font-size:10px;
}





/* Õ≈—”Ÿ≈—“¬”ﬁŸ¿ﬂ —“–¿Õ»÷¿ */
.nopage {
  padding:20px;
  text-align:center;
}





/* Õ≈ƒŒ—“”œÕŒ—“‹ œ–»ÀŒ∆≈Õ»ﬂ */
.noaccess {
  padding:30px;
  background-color:#F7F7F7;
}
.noaccess DIV {
  background-color:#FFF;
  text-align:center;
  border:#DDD solid 1px;
  padding:70px;
  color:#888;
  font:13px Tahoma;
}



/* ¡ÀŒ  — œŒƒ— ¿« ¿Ã» */
.help {
  border:#DAE1E8 solid 1px;
  background-color:#FFF;
  padding:8px 10px;
  text-align:justify;
  margin:10px;
}




#sa {
  float:right;
  text-align:right;
  width:126px;
  margin:5px 15px 0px 0px;
}
#sa A { color:#AAA; }











/* «¿√ŒÀŒ¬ »-Œœ»—¿Õ»ﬂ */
.headName {
  color:#31618C;
  font:bold 12px Tahoma;
  border-bottom:#DEE3EF solid 1px;
  padding:2px 0px;
}


.headBlue {
  background-color:#E1E7ED;
  font-weight:bold;
  color:#45688E;
  padding:5px 8px;
  margin-top:5px;
  }
















/* ÍÌÓÔÍ‡ ËÁ ÍÓÌÚ‡ÍÚ‡ */
.vkButton {
    display: inline-block;
    border:#45688E solid 1px;
    background: #5D81A7;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.vkButton button {
    border: 1px solid;
    font-size: 11px;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    height:24px;
    padding:0px 14px 2px 14px;
    font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
    border-top-color: #789ABF;
    border-bottom-color: #5980A9;
    border-left-color: #5980A9;
    border-right-color: #5980A9;
    color: #FFF;
    text-shadow:0 1px 0 #45688E;
    background:#6181a6 repeat-x top;
    background-position: 0px -16px;
}
.vkButton button:hover { background-position: 0px -8px; }
.vkButton button:active {
    background: #5e80a5;
    border: 1px solid #5e80a5;
}







/* ÍÌÓÔÍ‡ ÓÚÏÂÌ‡ */
.vkCancel {
    display: inline-block;
    border:#B3B3B3 solid 1px;
    background: #E0E0E0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.vkCancel button {
    border: 1px solid;
    font-size: 11px;
    margin: 0px;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    height:24px;
    padding:0px 14px 2px 14px;
    font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
    border-top-color: #FFF;
    border-bottom-color: #E5E5E5;
    border-left-color: #E7E7E7;
    border-right-color: #E7E7E7;
    color: #444;
    text-shadow:0 1px 0 #FFF;
    background:#DDD repeat-x top ;
    background-position: 0px -54px;
}
.vkCancel button:hover { background-position: 0px -46px; }
.vkCancel button:active {
    background: #DCDCDC;
    border: 1px solid #DCDCDC;
}
.vkButton button, .vkCancel button {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABUCAIAAADMNMqaAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABXSURBVHjapI7BDYAwDANNxmYVZmGxPOKmkKgNqvj0YflaWcrJed0CQEh482nSe+ZPLNkwOP/N6qazJdd9DeImi0t38xyqGp7vZubVe+kdbrubn9tNgAEAaD7UiMhv1xkAAAAASUVORK5CYII=");
}


















/* ¬≈–“» ¿À‹ÕŒ≈ Ã≈Õﬁ */
.infoLink DD {
  padding:5px 12px;
  border:#F7F7F7 solid 1px;
  color:#29597B;
  cursor:pointer;
  }
.infoLink DD:hover {
  border:#DEE3EF solid 1px;
  background:#DEE3EF;
  }
.infoLink .sel, .infoLink .sel:hover {
  color:#FFF;
  background:#6B8EB5;
  border:#39659C solid 1px;
  }
.infoLink .imgUp {
  float:right;
  margin-top:3px;
}










/*  ‡ÎÂÌ‰‡¸ */
.vk_calendar { display:inline-block; }
.vk_calendar .cal_input {
    width:114px;
    line-height:21px;
    border:#c0cad5 solid 1px;
    background:#FFF no-repeat 101px 3px url("data:image/gif;base64,R0lGODlhDwAQALMAAAAAAP///3mWuNTd6IeiwZOrx6G51J+1zavA2M7Z5QAAAAAAAAAAAAAAAAAAAAAAACwAAAAADwAQAAAEPDBIIaSltpBDD/mc4GmGQZXoaXwlgqDtuxJwDbO2/Vl8H+w+HzDIGxIlxmOSuAw2hZ+odEoYJK7YLHYQAQA7");
    cursor:pointer;
    padding-left:4px;
}
.vk_calendar .cal_abs { position:absolute; height:0px; }
.vk_calendar .cal_calendar {
    background-color:#FFF;
    border:#597da3 solid 1px;
    width:182px;
    position:relative;
    top:5px;
}
.vk_calendar .cal_head {
    border-top:#4c7097 solid 1px;
    border-bottom:#4c7097 solid 1px;
    background-color:#597da3;
    width:100%;
    height:25px;
}
.vk_calendar .cal_back, .vk_calendar .cal_next {
    background-image:url("data:image/gif;base64,R0lGODlhBAAeAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAEAB4AAAIUlHMYy7ppBIq02ouz3lNO5jXOERUAOw==");
    background-repeat:no-repeat;
    width:25px;
    cursor:pointer;
}
.vk_calendar .cal_back { background-position:10px 9px; }
.vk_calendar .cal_next { background-position:11px -14px; }
.vk_calendar .cal_month {
    color:#FFF;
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
}
.vk_calendar .cal_week_name {
    background-color:#F1F1F1;
    border-bottom:#EEE solid 1px;
    width:100%;
}
.vk_calendar .cal_week_name TD {
    color:#777;
    text-align:center;
    line-height:23px;
}
.vk_calendar .cal_days TABLE { width:100%; }
.vk_calendar .cal_days TD { line-height:23px; width:26px; text-align:center; }
.vk_calendar .lost { color:#777; cursor:default; }
.vk_calendar .cal_day { cursor:pointer; }
.vk_calendar .cal_day:hover { background-color:#e1e7ed; }
.vk_calendar .cal-day-cur { font-weight:bold; }
.vk_calendar .cal-day-set { background-color:#e1e7ed; }









/* œÓ‰ÒÍ‡ÁÍË */
.hint {
    position:absolute;
    height:0px;
    z-index:999;
}

.hint .hint_table { visibility:hidden; position:relative; }
.hint .cont_table {
    border:#aebdcc solid 1px;
    background-color:#FFF;
    cursor:default;
}
.hint .cont { padding:3px; }

.hint .b012,
.hint .b005,
.hint .side012,
.hint .side005 { background-color:#000; }
.hint .b012, .hint .b005 { height:1px; }
.hint .side012, .hint .side005 { width:1px; }
.hint .b012, .hint .side012 { opacity:0.12; }
.hint .b005, .hint .side005 { opacity:0.05; }

/* Û„ÓÎÓÍ Ò‚ÂıÛ */
.hint .ugttd { height:6px; }
.hint .ugt {
    display:inline-block;
    height:6px;
    width:11px;
    background:transparent no-repeat 0px 0px url("data:image/gif;base64,R0lGODlhCwAGAKIAAAAAAP///669zPLy8ubm5v///wAAAAAAACH5BAEAAAUALAAAAAALAAYAAAMSWKqyzqG9IoKVq9qbt2+atwkJADs=");
    position:relative;
    top:-6px;
    margin:0px 10px;
    z-index:1000;
}

/* Û„ÓÎÓÍ ÒÌËÁÛ */
.hint .ugbtd { height:7px; }
.hint .ugb {
    display:inline-block;
    height:7px;
    width:11px;
    background:transparent no-repeat 0px 0px url("data:image/gif;base64,R0lGODlhCwAIAKIEAPLy8q69zObm5v///////wAAAAAAAAAAACH5BAEAAAQALAAAAAALAAgAAAMaOLo80SyIByWYzZJLnQBEyHlgKE6fqV5lmAAAOw==");
    position:relative;
    top:7px;
    margin:0px 10px;
    z-index:1000;
}

/* Û„ÓÎÓÍ ÒÎÂ‚‡ */
.hint .ugltd { vertical-align:top; width:7px; }
.hint .ugl {
    display:inline-block;
    height:11px;
    width:7px;
    background:transparent no-repeat 0px 0px url("data:image/gif;base64,R0lGODlhBwALAKIAAAAAAP///669zPLy8ubm5v///wAAAAAAACH5BAEAAAUALAAAAAAHAAsAAAMWWFpDsk0EFcOsFltnu76cRYUQtzBOAgA7");
    position:relative;
    left:-7px;
    margin:3px 0px;
    z-index:1000;
}

/* Û„ÓÎÓÍ ÒÔ‡‚‡ */
.hint .ugrtd { vertical-align:top; width:7px; }
.hint .ugr {
    display:inline-block;
    height:11px;
    width:7px;
    background:transparent no-repeat 0px 0px url("data:image/gif;base64,R0lGODlhBwALAKIAAAAAAP///669zPLy8ubm5v///wAAAAAAACH5BAEAAAUALAAAAAAHAAsAAAMXKDTVFYq1ANek8dE6NiZetGWfxDmZkwAAOw==");
    position:relative;
    left:7px;
    top:0px;
    z-index:1000;
}

.correct {
    position:absolute;
    background-color:#FFA;
    padding:1px 3px;
    border:#CC9 solid 1px;
}
.correct SPAN { margin-right:10px; }








/* œ–Œ—ÃŒ“– ‘Œ“Œ√–¿‘»» */
#fotoShow {
  position:absolute;
  width:612px;
  left:6px;
  background-color:#FFF;
  border:#DDD solid 1px;
  z-index:110;
  }
#fotoShow DIV { border:#BBB solid 1px; }
#fotoShow CENTER {
  cursor:pointer;
  padding-bottom:15px;
  }
#fotoShow TABLE { width:100%; }
#fotoShow .fHead {
  color:#2b587a;
  font-weight:bold;
  padding:12px 20px;
  }
#fotoShow .close {
  padding:12px 20px;
  text-align:right;
  }










/*  ŒÃÃ≈Õ“¿–»» ¬  */
.vkComment { margin-top:10px; }
.vkComment .headBlue { margin-top:0px; }
.vkComment #count {
  float:right;
  color:#666;
  }
.vkComment #count IMG {
  position:relative;
  top:4px;
  }
.vkComment TEXTAREA {
  resize:none;
  overflow:hidden;
  height:13px;
  color:#777;
  border:#CCD solid 1px;
  }
.vkComment #add {
  background-color:#F7F7F7;
  padding:8px;
  }
.vkComment #add .vkButton {
  margin-top:8px;
  display:none;
  }
/* ‰Ó·‡‚ÎÂÌËÂ ‰ÓÔÓÎÌËÚÂÎ¸ÌÓ„Ó ÍÓÏÏÂÌÚ‡Ëˇ, ÂÒÎË Ëı ÔÓÍ‡ ÌÂÚ */
.vkComment .cadd {
  background-color:#F7F7F7;
  padding:6px;
  margin:6px 0px 0px 3px;
  }
.vkComment .cadd TEXTAREA { color:#000; }
.vkComment .cadd .vkButton { margin-top:6px; }
/* ‰Ó·‡‚ÎÂÌËÂ ‰ÓÔÓÎÌËÚÂÎ¸ÌÓ„Ó ÍÓÏÏÂÌÚ‡Ëˇ, ÂÒÎË Ëı ·ÓÎ¸¯Â ÌÛÎˇ */
.vkComment .dadd {
  background-color:#F7F7F7;
  padding:6px;
  margin:6px 0px 0px 3px;
  }
.vkComment .dadd .vkButton {
  display:none;
  margin-top:6px;
  }
.vkComment .unit {
  margin-top:10px;
  padding-bottom:10px;
  border-bottom:#DAE1E8 solid 1px;
  }
.vkComment .name {
  display:inline-block;
  font-weight:bold;
  margin:1px 7px;
  }
.vkComment .ctxt { margin:3px 7px; }
.vkComment .cdat {
  color:#999;
  font-size:10px;
  margin:6px 0px 0px 7px;
  }
.vkComment .cdat SPAN { font-size:10px; }
.vkComment .cdat A { font-size:10px; }
.vkComment .img_del, .vkComment .img_minidel {
  float:right;
  display:none;
  }
.vkComment .unit CENTER { color:#666; }
.vkComment .unit TD { vertical-align:top; }
.vkComment .dunit {
  margin:7px 0px 0px 3px;
  border-top:#E9EDF1 solid 1px;
  padding-top:7px;
  }
.vkComment .ddat {
  color:#999;
  font-size:10px;
  margin:5px 0px 0px 5px;
  }
.vkComment .dtxt { margin:2px 5px 0px 5px; }
.vkComment .dname { margin-left:5px; }











/* -------------==============  ¿À≈Õƒ¿–‹ =============-----------------*/
#calendar {
  position:absolute;
  border:#DDD solid 1px;
  padding:2px;
  background:#F4F4F4;
  display:none;
  z-index:2000;
  }
#calendar DIV {
  border:#FFF solid 1px;
  padding:1px;
  background:#D3D3DD;
  }
#calendar TABLE { background:#DDF; }
#calendar TR { text-align:center; }
#calendar IMG { cursor:pointer; }
#calendar H2 {
  font:10px Tahoma;
  padding:4px 0px;
  background:#D8D8D8;
  border-right:#AAA solid 1px;
  color:#999;
  width:17px;
  margin-right:1px;
  }
#calendar H4 {
  border-top:#AAD solid 1px;
  padding:2px 0px 3px 0px;
  background:#EEF;
  font:11px tahoma;
  }
#calendar H4 A { color:#779; }
#calendar H4 A:hover { color:#334; }
#calendar H4 I {
  font:10px Arial;
  border:#FFF solid 1px;
  color:#FFF;
  background:#F66;
  padding:0px 4px 1px 4px;
  margin-right:1px;
  float:right;
  cursor:pointer;
  position:relative;
  top:-1px;
  }
#calendar H1 A {
  display:block;
  font:13px Verdana;
  color:#777;
  }
#calendar H1 A:hover { font-weight:bold; }
#calendar INPUT {
  padding:0px;
  width:37px;
  font:11px Tahoma;
  height:15px;
  border:#CCE solid 1px;
  text-align:center;
  margin:1px 0px;
  background:#F4F4FF;
  }
#calendar TH {
  font:11px Verdana;
  padding:1px;
  background:#CCC;
  border-bottom:#999 solid 1px;
  color:#666;
  }
#calendar A { text-decoration:none; }
#calendar H6 A {
  display:block;
  font:12px Verdana;
  color:#444;
  border:#DDF solid 1px;
  width:21px;
  padding:2px 0px;
  background:#D5D5F7;
  text-align:center;
  color:#557;
  }
#calendar H6 A:hover {
  border:#AAC solid 1px;
  background:#CCE;
  color:#224;
  }
#calendar H6 A B { color:#252; }
#calendar IFRAME { display:none; }
#calendar H3 { position:absolute; }
#calendar DL {
  position:relative;
  top:-9px;
  width:66px;
  padding-bottom:2px;
  border-top:#DDF solid 1px;
  border-left:#DDF solid 1px;
  border-right:#DDF solid 1px;
  }
#calendar DT A {
  display:block;
  text-align:center;
  font:12px Tahoma;
  border:#DDF solid 1px;
  color:#333;
  }
#calendar DT A:hover {
  background:#EEF;
/*  border:#AAC solid 1px;*/
  }
#calendar DD {
  position:relative;
  top:1px;
  background:#FFF;
  padding:0px 1px;
  display:none;
  }
#calendar DD A {
  display:block;
  font:11px Tahoma;
  padding-left:3px;
  border:#FFF solid 1px;
  color:#557;
  }
#calendar DD A:hover {
  background:#99B;
  color:#FFF;
  border:#668 solid 1px;
  }










#ajaxNext {
  text-align:center;
  padding:7px;
  display:block;
  margin:0px 10px 10px 10px;
  color: #2B587A;
  cursor:pointer;
  }
#ajaxNext:hover {
  background-color:#e9edf1;
  text-decoration:none;
  }
#ajaxNext IMG { margin:3px 0px 2px 0px; }












/* √Œ–»«ŒÕ“¿À‹ÕŒ≈ Ã≈Õﬁ */
#mainLinks {
  border-bottom:#31618C solid 1px; 
  padding:10px 5px 0px 5px;
  }
.mLinkSel, .mLink {
  float:left;
  margin-left:5px;
  display:block;
  }
.mLinkSel:hover, .mLink:hover { text-decoration:none; }
.mLinkSel SPAN {
  display:block;
  padding:3px 10px 5px 10px;
  color:#FFF;
  background:#31618C;
  }
.mLinkSel B,.mLinkSel I {
  display:block;
  background:#31618C;
  height:1px;
  overflow:hidden;
  border-left:#9CB2C6 solid 1px;
  border-right:#9CB2C6 solid 1px;
  }
.mLinkSel I { margin:0 1px; }

.mLink SPAN {
  display:block;
  padding:3px 10px 5px 10px;
  color:#31618C;
  }
.mLink B,.mLink I {
  display:block;
  height:1px;
  overflow:hidden;
  }
.mLink B { margin:0 1px; }
.mLink I { margin:0 2px; }
.mLink:hover SPAN, .mLink:hover B,.mLink:hover I { background:#DEE3EF; }






/* √ÓËÁÓÌÚ‡Î¸ÌÓÂ ÏÂÌ˛ */
#main_links { border-bottom:#31618C solid 1px; padding:10px 5px 0px 5px; }
#main_links .la { display:inline-block; margin-left:5px; }
#main_links .la:hover { text-decoration:none; }
#main_links .l1, #main_links .l2 { height:1px; overflow:hidden; }
#main_links .l1 { margin:0px 2px; }
#main_links .l2 { margin:0px 1px; }
#main_links .l3 { padding:3px 10px 5px 10px; color:#31618C; }
#main_links .la:hover .l1, #main_links .la:hover .l2, #main_links .la:hover .l3 { background-color:#DEE3EF; }
#main_links .sel .l1, #main_links .sel .l2 {
    background-color:#31618C;
    border-left:#9CB2C6 solid 1px;
    border-right:#9CB2C6 solid 1px;
}
#main_links .sel .l1 { margin:0 1px; }
#main_links .sel .l2 { margin:0 0px; }
#main_links .sel .l3 { color:#FFF; background-color:#31618C; }
#main_links .sel:hover .l1, #main_links .sel:hover .l2, #main_links .sel:hover .l3 { background-color:#31618C; }






/* ¬€œ¿ƒ¿ﬁŸ≈≈ Ã≈Õﬁ œŒ ——€À ≈ */
.linkMenu {
  display:none;
  position:absolute;
  text-align:left;
  }
.linkMenu DL {
  position:relative;
  top:-3px;
  left:-7px;
  border-left:#EEE solid 1px;
  border-right:#EEE solid 1px;
  border-bottom:#EEE solid 1px;
  background-color:#FFF;
  cursor:pointer;
  z-index:1000;
  }
.linkMenu DT {
  padding:2px 17px 3px 5px;
  background:#EEF2F6 url("data:image/gif;base64,R0lGODlhEQAEAKIAAAAAAP///11xhXOLo+7y9v///wAAAAAAACH5BAEAAAUALAAAAAARAAQAAAMOWKrSLivGQam8quI9dgIAOw==") no-repeat right 7px;
  color:#2C587D;
  border-top:#96AABE solid 1px;
  border-left:#96AABE solid 1px;
  border-right:#96AABE solid 1px;
  }
.linkMenu .over {
  display:block;
  padding:3px 5px 4px 5px;
  color:#2C587D;
  border-left:#96AABE solid 1px;
  border-right:#96AABE solid 1px;
  }
.linkMenu .grey { color:#999; }
.linkMenu .last {
  border-bottom:#96AABE solid 1px;
  padding-bottom:3px;
  }
.linkMenu .hover {
  background-color:#6D8FB3;
  color:#FFF;
  padding:2px 5px 3px 5px;
  border:#476D96 solid 1px;
  }












/* ƒŒœŒÀÕ»“≈À‹ÕŒ≈ Ã≈Õﬁ Õ¿ —≈–ŒÃ ‘ŒÕ≈ */
#dopMenu {
  background-color:#F7F7F7;
  border-bottom:#dae1e8 solid 1px;
  padding:9px 12px;
  }
#dopMenu .link DIV {
  font-weight:bold;
  padding:1px 8px 2px 8px;
  color:#45688e;
  }
#dopMenu .link B, #dopMenu .link I {
  display:block;
  height:1px;
  overflow:hidden;
  }
#dopMenu .link I { margin:0px 1px; }
#dopMenu .link:hover DIV, #dopMenu .link:hover B, #dopMenu .link:hover I { background-color:#e1e7ed; }
#dopMenu .linkSel, #dopMenu .link {
  text-decoration:none;
  float:left;
  margin-right:10px;
  display:block;
  }
#dopMenu .linkSel DIV {
  background-color:#597da3;
  color:#FFF;
  font-weight:bold;
  padding:1px 8px 2px 8px;
  }
#dopMenu .linkSel B, #dopMenu .linkSel I {
  border-left:#6a8aac solid 1px;
  border-right:#6a8aac solid 1px;
  background-color:#597da3;
  display:block;
  height:1px;
  overflow:hidden;
  }
#dopMenu .linkSel I { margin:0px 1px; }
#dopMenu .fr {
  float:right;
  display:block;
  margin-top:3px;
  }









/* ¿À≈–“€ */
#alert {
  position:absolute;
  height:0px;
  z-index:1000;
  }
#alert #table {
  position:relative;
  display:none;
  }
#alert .LR1 {
  background-color:#000;
  width:1px;
  opacity: 0.06;
  filter: alpha(opacity=6);
  }
#alert .LR2 {
  background-color:#000;
  width:1px;
  opacity: 0.12;
  filter: alpha(opacity=12);
  }
#alert .BOT1 {
  background-color:#000;
  height:1px;
  overflow:hidden;
  margin:0px 1px;
  opacity: 0.12;
  filter: alpha(opacity=12);
  }
#alert .BOT2 {
  background-color:#000;
  height:1px;
  overflow:hidden;
  opacity: 0.07;
  filter: alpha(opacity=7);
  }
#alert .RAM {
  border:#96aabe solid 1px;
  background-color:#FFF;
  }
#alert .UGL { width:7px; }
#alert .UGL DIV {
  width:7px;
  height:11px;
  overflow:hidden;
  background:transparent no-repeat 0px 0px url("data:image/gif;base64,R0lGODlhBwALAKIAAAAAAP///669zPLy8ubm5v///wAAAAAAACH5BAEAAAUALAAAAAAHAAsAAAMWWFpDsk0EFcOsFltnu76cRYUQtzBOAgA7");
  z-index:1001;
  position:relative;
  left:3px
  }
#alert .UGR { width:7px; }
#alert .UGR DIV {
  width:7px;
  height:11px;
  overflow:hidden;
  background:transparent no-repeat 0px 0px url("data:image/gif;base64,R0lGODlhBwALAKIAAAAAAP///669zPLy8ubm5v///wAAAAAAACH5BAEAAAUALAAAAAAHAAsAAAMXKDTVFYq1ANek8dE6NiZetGWfxDmZkwAAOw==");
  z-index:1001;
  position:relative;
  left:-3px
  }
#alert .txt { padding:10px; }
#alert .UGB { height:7px; }
#alert .UGB DIV {
  overflow:hidden;
  height:7px;
  width:11px;
  position:relative;
  top:-3px;
  background:transparent no-repeat 0px 0px url("data:image/gif;base64,R0lGODlhCwAIAKIEAPLy8q69zObm5v///////wAAAAAAAAAAACH5BAEAAAQALAAAAAALAAgAAAMaOLo80SyIByWYzZJLnQBEyHlgKE6fqV5lmAAAOw==");
  z-index:1001;
  }
#alert .UGT { height:6px; }
#alert .UGT DIV {
  overflow:hidden;
  height:6px;
  width:11px;
  position:relative;
  top:1px;
  background:transparent no-repeat 0px 0px url("data:image/gif;base64,R0lGODlhCwAGAKIAAAAAAP///669zPLy8ubm5v///wAAAAAAACH5BAEAAAUALAAAAAALAAYAAAMSWKqyzqG9IoKVq9qbt2+atwkJADs=");
  z-index:1001;
  }









.tabSpisok { border-collapse:collapse; }
.tabSpisok TH {
  border:#dee4e8 solid 1px;
  background-color:#f5f7f8;
  font-weight:bold;
  text-align:center;
  padding:4px 8px;
  }
.tabSpisok TD {
  border:#dee4e8 solid 1px;
  padding:4px 8px;
  }










/* —“–Œ ¿ œŒ»— ¿  */
.topSearch H5 { position:absolute; }
.topSearch H5 DIV {
  position:relative;
  top:6px;
  left:6px;
  padding-left:16px;
  color:#777;
  z-index:1;
  }
.topSearch H6 {
  border:#CCC solid 1px;
  background:#FFF no-repeat 5px 6px url("data:image/gif;base64,R0lGODlhCwALANUAAAAAAP////z8/ert8+ns8vj5+/f4+unt8+Xp7+Pn7ejr7+ru8+nt8tPb5Nrh6dng6Njf59fe5t/l7N3j6tjg6Nbe5tXd5dTc5N3k69vi6eXq7+Tp7uLn7OHm6/Hz9fr7/Pn6+/j5+s3X4NTd5dPc5NLb49Ha4tnh6Njg59be5d7l687Y4NXe5dTd5N3l6+7y9dLc49jh5+Dn7N/m693l6urv8v3///z9/f39/fv7+wAAAAAAAAAAAAAAAAAAAAAAACwAAAAACwALAAAGWsCA8DM4ORwZRU54Y1xasg6LdBCGGpaX0JOqCA0rmVCYMH1Fs3GAYw6AKK6a8MXyulWVCU3VuiwCCCgRGBgPJxAEHxsjMDEFIJAgAgESJS0aakI4AhIbNplCQQA7");
  padding:3px 0px 0px 19px;
  height:20px;
  }
.topSearch .img_del {
  float:right;
  margin-top:3px;
  display:none;
  }
.topSearch INPUT {
  width:100%;
  border:none;
  padding:0px;
  position:relative;
  top:2px;
  left:1px;
  background-color:transparent;
  z-index:100;
  }





#clientFind {
  background-color:#F7F7F7;
  padding:9px 10px;
  border-bottom:#DAE1E8 solid 1px;
  }





/* ˜ÂÍ·ÓÍÒ */
.check0, .check1 {
  display:inline-block;
  height:14px;
  min-width:14px;
  padding-left:18px;
  color:#333;
  cursor:pointer;
}
.check0, .check1, .check0:hover, .check1:hover { background:no-repeat url("data:image/gif;base64,R0lGODlhDwA4AKIHANrh6P///8DK1a22wF+DpbfAy9/l6v///yH5BAEAAAcALAAAAAAPADgAAAOzKLrMJyHKGcWjOFiY5+7eBVbi+I1aCZ6m2rGrm21NrTx2LWMEwYE93yho+PF6gmKHyCJIiEVRMABNcQzBnsFAumK13K5kS9iGjNuwBPbC5RyDuHw+PwwA+LweP7Dv/wB9d4B6goSFfod8iYqGioGMh46NkYSTkpWAgnSccXadnJl/PYOHQaWAQQWoe6qrhK6MBHmujkEArpCDBVkEBQWLu7w9v3mTv77AxpG/ysusmp+gdQkAOw=="); }
.check0 { background-position:0px 0px; }
.check0:hover { background-position:0px -28px; }
.check1 { background-position:0px -14px; }
.check1:hover { background-position:0px -42px; }








/*  ÕŒœ ¿ —Œ«ƒ¿Õ»ﬂ */
#buttonCreate { border:#39659C solid 1px; }
#buttonCreate A {
  display:block;
  background:#6B8EB5;
  border-top:#7B9EBD solid 1px;
  border-left:#7B9EBD solid 1px;
  border-bottom:#5A82AD solid 1px;
  border-right:#5A82AD solid 1px;
  font:11px Tahoma;
  color:#FFF;
  text-align:center;
  text-decoration:none;
  padding:6px 0;
  }
#buttonCreate A:hover {
  background:#84A2BD;
  border-top:#94AEC6 solid 1px;
  border-left:#94AEC6 solid 1px;
  border-bottom:#7392B5 solid 1px;
  border-right:#7392B5 solid 1px;
  }










/* —“–Œ ¿ ƒÀﬂ ¬€¬Œƒ¿ –≈«”À‹“¿“Œ¬ œŒ»— ¿ */
#findResult {
  padding:12px 10px 4px 10px;
  font:bold 11px Tahoma;
  color:#47688D;
  border-bottom:#DAE1E8 solid 1px;
  }
#findResult IMG { float:right; }
#findResult EM {
  color:#888;
  margin-left:5px;
  font-size:10px;
  }








/* —ŒŒ¡Ÿ≈Õ»≈ œ”—“Œ√Œ «¿œ–Œ—¿ */
.findEmpty {
  font:12px Tahoma;
  color:#777;
  background:#F7F7F7;
  border:#CCC solid 1px;
  text-align:center;
  padding:130px 0;
  margin:15px;
  }




/* «‡‰ÌËÈ ÙÓÌ ÔË ÓÚÍ˚ÚËË ÔÓ‚ÂıÌÓÒÚÌ˚ı ÓÍÓÌ */
.backfon {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    background-color:#FFF;
    opacity: 0.7;
    filter: alpha(opacity=70);
}






/* ‰Ë‡ÎÓ„ */
.vk_dialog {
    position:absolute;
    left:-1000px;
}
.vk_dialog .head { border:#45688e solid 1px; }
.vk_dialog .head DIV {
    border-top:#648cb7 solid 1px;
    color:#FFF;
    background-color:#597da3;
    padding:7px 7px 7px 10px;
    font:bold 12px Tahoma;
}
.vk_dialog .img_del {
    float:right;
    background-position: 0px -15px;
    margin:2px 0px;
}
.vk_dialog .head A:hover { background-position:0px 0px; }
.vk_dialog .content {
    background-color:#FFF;
    padding:10px;
    border-left:#999 solid 1px;
    border-right:#999 solid 1px;
    border-bottom:#dae1e8 solid 1px;
}
.vk_dialog .bottom {
    background-color:#f2f2f2;
    border-left:#999 solid 1px;
    border-right:#999 solid 1px;
    border-bottom:#999 solid 1px;
    padding:10px;
    text-align:center;
}
.vk_dialog .vkButton { margin-right:8px; }






















/* ÍÓÌÚ‡ÍÚÓ‚ÒÍËÈ ÒÂÎÂÍÚ */
.vkSel {
    display:inline-block;
    background-color:#FFF;
}
.vkSel .main { border:#c0cad5 solid 1px; }
.vkSel .selected {
    min-height:18px;
    padding:2px 0px 0px 2px;
}
.vkSel .inp {
    border:none;
    height:16px;
    padding:0px 0px 0px 3px;
    margin:0px 2px 2px 0px;
}
.vkSel .ugol {
    width:16px;
    border-left:#FFF solid 1px;
    background:#FFF no-repeat center center url("data:image/gif;base64,R0lGODlhBwAEAIABAAAAAP///yH5BAEAAAEALAAAAAAHAAQAAAIIhA+BGWoNWSgAOw==");
}
.vkSel .add {
    width:16px;
    border-left:#FFF solid 1px;
    background:#FFF no-repeat center center url("data:image/gif;base64,R0lGODlhCAAIAKIAAAAAAP///ytYeuHo7ff398zMzIiIiP///yH5BAEAAAcALAAAAAAIAAgAAAMOeGqmfuytNpm92EW5X08AOw==");
    cursor:pointer;
}
.vkSel .add:hover {
    border-left:#d2dbe0 solid 1px;
    background-color:#e1e8ed;
}
.vkSel .results {
    background-color:#FFF;
    cursor:pointer;
    position:absolute;
    z-index:10;
}
.vkSel DL { overflow:auto; }
.vkSel DD { padding-left:10px; }
.vkSel .out {
    padding-top:3px;
    padding-bottom:4px;
    border-left:#CCC solid 1px;
    border-right:#CCC solid 1px;
}
.vkSel .last { border-bottom:#CCC solid 1px; }
.vkSel .title0 { color:#888; }
.vkSel .over {
    padding-top:2px;
    padding-bottom:3px;
    border:#2a5883 solid 1px;
    background-color:#587da1;
    color:#FFF;
}
.vkSel .out .pole2, .vkSel .over .pole2, .vkSel .out .pole2 EM, .vkSel .over .pole2 EM { font-size:10px; }
.vkSel .out .pole2, .vkSel .out .nosel { color:#888; } /* ‰ÓÔÓÎÌËÚÂÎ¸ÌÓÂ ÔÓÎÂ, Ì‡ÔËÏÂ ÚÂÎÂÙÓÌ ËÎË ÛÚÓ˜ÌÂÌËÂ + ÌÂ‚˚·‡ÌÌÓÂ ÔÓÎÂ */
.vkSel .over .pole2, .vkSel .over .nosel { color:#BBE; }
.vkSel .out EM, .vkSel .over EM { font-weight:bold; } /* ‚˚‰ÂÎÂÌËÂ ÒËÏ‚ÓÎÓ‚, ÒÓ‚Ô‡‰‡˛˘Ëı ÔË Ì‡·ÓÂ */
.vkSel .out EM { background-color:#DEE; }
.vkSel .over EM { background-color:#358; }
.vkSel .nofind {
    background-color:#EEE;
    border-left:#CCC solid 1px;
    border-right:#CCC solid 1px;
    border-bottom:#CCC solid 1px;
    color:#444;
    padding:3px 6px;
    cursor:default;
}
.vkSel .process { position:absolute; }
.vkSel .process IMG { position:relative; top:5px; left:2px; }
.vkSel .process_inp { position:absolute; text-align:right; }
.vkSel .process_inp IMG { position:relative; top:5px; }

















/* —œ»—Œ  ÕŒÃ≈–Œ¬ √¿«≈“ œ–» ¬Õ≈—≈Õ»» » –≈ƒ¿ “»–Œ¬¿Õ»» «¿ﬂ¬Œ  */
#gnGet {
  position:relative;
  top:-24px;
  }
#gnGet .content { overflow:hidden; }
#gnGet .tab {
  width:240px;
  background-color:#FFF;
  border:#DDD solid 1px;
  margin-bottom:2px;
  cursor:pointer;
  }
#gnGet .tab:hover { border:#99A solid 1px; }
#gnGet .td {
  padding:2px 3px;
  color:#333;
  font-size:10px;
  }
#gnGet .td B, #gnGet .td TT { font-size:10px; }
#gnGet EM {
  color:#888;
  margin-left:3px;
  font-size:10px;
  }
#gnGet .inpCena {
  width:36px;
  border:none;
  padding:2px 2px;
  text-align:right;
  border-left:#FFF solid 1px;
  color:#FFF;
  }
#gnGet .tabsel { background-color:#BFB; }
#gnGet .tabsel .inpCena {
  border-left:#DDD solid 1px;
  background-color:#EFE;
  cursor:pointer;
  color:#444;
  }
#gnGet .viewed {
  width:240px;
  background-color:#EEE;
  border:#DDD solid 1px;
  margin-bottom:2px;
  }
#gnGet .viewed B, #gnGet .viewed .td { color:#888; }
#gnGet .viewed .inpCena {
  border-left:#DDD solid 1px;
  background-color:#F7F7F7;
  cursor:pointer;
  color:#888;
  }
#gnGet .vdop {
  color:#666;
  padding-left:8px;
  }
#gnGet .darr {
  font-size:9px;
  text-align:center;
  color:#AAA;
  width:240px;
  cursor:pointer;
  }
#gnGet .darr:hover {
  background-color:#e1e7ed;
  color:#444;
  }
#gnGet #dopMenu {
  padding:0px 0px 5px 0px;
  border:none;
  background-color:transparent;
  }
#gnGet #dopMenu { margin-left:127px; }
#gnGet #dopMenu A { margin-right:4px; }
#gnGet .content { margin-top:4px; }
#gnGet .left {
  width:127px;
  vertical-align:top;
  text-align:right;
  }
#gnGet #num {
  color:#666;
  font:bold 10px Tahoma;
  margin:6px 10px 0px 0px;
  }
#gnGet #num A {
  font-size:10px;
  display:block;
  color:#AAA;
  }
#gnGet #dopDef {
  margin:2px 0px 0px 4px;
  width:170px;
  }
#gnGet .dop {
  display:none;
  margin-left:8px;
  width:160px;
  }



















/*
// ¬≈–“» ¿À‹ÕŒ≈ Ã≈Õﬁ
.infoLink {
  display:block;
  padding:5px 12px;
  border:#F7F7F7 solid 1px;
  color:#29597B;
  cursor:pointer;
  }
.infoLink:hover {
  border:#DEE3EF solid 1px;
  background:#DEE3EF;
  text-decoration:none;
  }
.infoLinkSel {
  display:block;
  padding:5px 12px;
  color:#FFF;
  background:#6B8EB5;
  border:#39659C solid 1px;
  cursor:pointer;
  }
.infoLinkSel:hover { text-decoration:none; }
.infoLinkSel IMG {
  float:right;
  margin-top:3px;
  }
*/






/* —ŒŒ¡Ÿ≈Õ»≈ Œ –≈«”À‹“¿“≈ ¬€œŒÀÕ≈ÕÕ€’ ƒ≈…—“¬»… */
#vkMsgOk {
  padding:15px 20px;
  position:absolute;
  width:400px;
  left:100px;
  top:100px;
  background-color:#333;
  font:bold 12px Tahoma;
  color:#FFF;
  opacity: 0.9;
  filter: alpha(opacity=90);
  }
#vkMsgOk A {
  color:#b1daff;
  font:bold 12px Tahoma;
  }
#vkMsgOk B { font-size:12px; }







/* Ã»Õ»- ¿–“»Õ » */
.img_galka, .img_del, .img_edit, .img_minidel {
  height:13px;
  width:13px;
  background-position: 0px 0px;
  display:inline-block;
  cursor:pointer;
  margin:0px 3px;
  }
.img_galka:hover, .img_del:hover, .img_edit:hover, .img_minidel:hover { background-position: 0px -15px; }

.img_galka, .img_galka:hover {
  background-image:url("data:image/gif;base64,R0lGODlhDQAaANUAAK7B1ZevyYCdvYaiwLnJ26q+0/v8/aO4z4Shv4Wgv6K4z8fU4uTr8fX4+sbU4uPp8ZauyMvX5Njh69rj66m80unu86G2zp+1zuDn73+cvHuZu5KqxoSfwHyZunyZu8TS4Ku+032au4Kevpuxy6W40KK2z6q/05atyKW50IahwK3A1J+1zePq8ZivyYiiwaS40M7Z5aW70YOevn6bvcXS4JWsyIKfvpyyzJuzy36bvH6cvLrCzIikwv///wAAAAAAACH5BAEAAD0ALAAAAAANABoAAAZFwJ5wSJRIiMie0ZgULpnJ51E5pS6dV+lQ+kRyq8Vu0zrels/otHrd02jObvc4Lk/S3218Pi6k7+t/d0h3gESCc4VNekhBADs=");
  background-repeat:no-repeat;
  }
.img_del, .img_del:hover {
  background-image:url("data:image/gif;base64,R0lGODlhCwAaAKIAAAAAAP///9Pd6GuNsf///wAAAAAAAAAAACH5BAEAAAQALAAAAAALABoAAAM7SCTarCI6GeuqDOu527WeJkEihX3m8zne0r5wLM/N0NrKoNe77hO+XjDIG96InuEupxT+jD8mDnhTJAAAOw==");
  background-repeat:no-repeat;
  }
.img_edit, .img_edit:hover {
  background-image:url("data:image/gif;base64,R0lGODlhDQAaANUAAK7B1ZevyYCdvYaiwLnJ26q+0/v8/aO4z4Shv4Wgv6K4z8fU4uTr8fX4+sbU4uPp8ZauyMvX5Njh69rj66m80unu86G2zp+1zuDn73+cvHuZu5KqxoSfwHyZunyZu8TS4Ku+032au4Kevpuxy6W40KK2z6q/05atyKW50IahwK3A1J+1zePq8ZivyYiiwaS40M7Z5aW70YOevn6bvcXS4JWsyIKfvpyyzJuzy36bvH6cvLrCzIikwv///wAAAAAAACH5BAEAAD0ALAAAAAANABoAAAZQwF5PIhkSj8Jk8YhULpnF5NDIlBKpTSX26txGtdCv0Sudhq3PannNbrvfbx6vJ6/PpXO7HJ/Xl/t2fHR+eIOBSXt6d4iGdYKKf417iICOPUEAOw==");
  background-repeat:no-repeat;
  }
.img_minidel, .img_minidel:hover {
  background-image:url("data:image/gif;base64,R0lGODlhBwAeAKIAAAAAAP///6azz9ri6P///wAAAAAAAAAAACH5BAEAAAQALAAAAAAHAB4AAAMmSEO88wq+yeJq00lZb/1gKI5kaZ5oWgoVK7zE68osI7d0DN91TCQAOw==");
  background-repeat:no-repeat;
  }
.img_minidel {
  height:11px;
  width:12px;
  background-position:3px 2px;
  display:inline-block;
  cursor:pointer;
  margin:0px 3px;
  }
.img_minidel:hover { background-position: 3px -21px; }





.radio .off, .radio .on {
  background-image:url("data:image/gif;base64,R0lGODlhDgA4AMQAAAAAAP///7fAy9/k6sDK1a22wMPL1M/W3rvJ19rh6F+DpZyyxq/B0sfT3tfg6LDBz9/l6u/y9Ozv8efq7P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABQALAAAAAAOADgAAAX/ICVSEmES0jiWRBQEkZmK5fDewYCKhI3fOhLh90O1iLjYEIkzMZvHZ6z0DOx6zKDQh9PNhFHld3XaqcinMc3kgsnIXKAZiwxSXw4Gw3Ezth0KgQp8bksBDIIKDH2GiIIMEC9seIkNkVOGeQyWkil0LxCROQRrcS9eaG1iZ2BvrBQTBbIFE6yxBQcJCQeytSKxBrrCCQa0IgXBw8LFsAXKyrS4z8O8ztPDstfY0tq8sdoJxsjXzM3Jw8W+zdzV6iO3va/r8We3ubv05s/px+fKzN90IViwAIGwaPcQJDKIz1qCBYkWHHQIUdACAbpkJUz0AKM3hwMXdMxYa5wwARiJDxX4ZRKdMZbs8r2b9VJECAA7");
  background-repeat:no-repeat;
  height:14px;
  cursor:pointer;
  padding-left:18px;
  display:inline-block;
  margin-right:15px;
  }
.radio .off { background-position:0px 0px; }
.radio .off:hover { background-position:0px -28px; }
.radio .on { background-position:0px -14px; }
.radio .on:hover { background-position:0px -42px; }





.findName {
  color:#555;
  font:bold 11px Tahoma;
  margin-bottom:5px;
  }








.tdAbout {  
  color:#666;
  padding:1px 0px;
  }
.top5 { padding-top:5px; }
.tdAbout EM {  
  font-size:10px;
  color:#BBB;
  display:block;
  }





.red { color:#E22; }



/* ¬Õ≈—≈Õ»≈ ÕŒ¬Œ√Œ  À»≈Õ“¿ */
.clientAdd { margin-left:10px; }
.clientAdd .tdAbout {
  padding-top:4px;
  width:120px;
  text-align:right;
  }
.clientAdd .input { width:230px; }







/* —œ»—Œ   À»≈Õ“Œ¬ */
#client { width:100%; }
#client #spisok {
  width:430px;
  height:400px;
  vertical-align:top;
  }
#client #cond {
  padding:10px;
  background-color:#F7F7F7;
  border-left:#DAE1E8 solid 1px;
  vertical-align:top;
  }
#client .unit {
  margin:4px 8px 8px 8px;
  border-bottom:#dae1e8 solid 1px;
  padding:5px;
  }
#client .unit .tdAbout { width:80px; }
#client .unit .balans {
  float:right;
  width:80px;
  color:#888;
  }
#client .unit .balans B { float:right; }
#client .unit EM { background-color:#e1e7ed; }










/* »Õ‘Œ–Ã¿÷»ﬂ Œ  À»≈Õ“≈ */
#clientInfo {
  width:460px;
  vertical-align:top;
  }
#clientInfo #tab {
  height:150px;
  margin-top:12px;
  }
#clientInfo #tab IMG { margin:10px 0px 0px 30px; }
#clientInfo #tab .tdAbout {
  width:80px;
  padding-left:20px;
  padding-right:10px;
  text-align:right;
  }
#clientInfo .person_name { color:#555; }
#clientInfo .info, #clientInfo .info A {
  color:#BBB;
  font-size:10px;
  }
#clientInfo .info {
  text-align:right;
  margin-right:15px;
  }
#clientInfo #zHead {
  background-color:#dee5eb;
  padding:7px 9px;
  color:#45688e;
  font-weight:bold;
  margin:0px 8px;
  }
#clientInfo #zHead IMG { margin-top:4px; }
#clientInfo #zResult {
  color:#666;
  float:right;
  }
#clientInfo .vkComment { margin:0px 0px 0px 8px; }
#clientInfo .vkComment .headBlue { padding:7px 9px; }
#clientRight {
  background-color:#F7F7F7;
  border-left:#DAE1E8 solid 1px;
  width:146px;
  vertical-align:top;
  padding:10px 10px 300px 10px;
  }
#clientRight #links { height:152px; }
#clientRight #spLinks { margin-bottom:20px; }
#clientRight #spLinks EM { float:right; }
#clientInfo .tabSpisok {
  width:444px;
  margin:8px;
  }
#clientInfo .tabSpisok .dtime {
  font-size:10px;
  text-align:right;
  color:#555;
  width:90px;
  }



#oplataInsert .tdAbout { width:80px; }
#oplataInsert #summa {
  font:bold 17px Tahoma;
  width:70px;
  }
#oplataInsert #prim { width:220px; }







/* —œ»—Œ  Œ¡⁄ﬂ¬À≈Õ»… */
#zayav { width:100%; }
#zayav #spisok {
  width:470px;
  height:500px;
  vertical-align:top;
  background-color:#F7F7F7;
  }
#zayav #cond {
  padding:10px 10px 10px 0px;
  vertical-align:top;
  background-color:#F7F7F7;
  }
#zayav #buttonCreate { margin-bottom:10px; }
#zayav #vkSel_gazeta_nomer TT {
  color:#666;
  font-size:10px;
  margin-left:4px;
  }
#zayav #vkSel_gazeta_nomer .ddOver TT { color:#DDD; }
#zayav #vkSel_gazeta_nomer .grey { color:#777; }
#zayav #vkSel_gazeta_nomer .ddOver .grey { color:#DDD; }
#zayav #obSpisok {
  background-color:#FFF;
  padding:0px 10px 30px 10px;
  margin-right:8px;
  border-right:#DAE1E8 solid 1px;
  min-height:400px;
  }
#zayav #obSpisok H4 {
  font:bold 17px Tahoma;
  padding-top:10px;
  }
#zayav #obSpisok H5 {
  font:bold 16px Times New Roman;
  margin-top:3px;
  text-align:right;
  }
#zayav .obUnit A {
  font:14px Times New Roman;
  color:#000;
  }
#zayav .obUnit A:hover { color:#2B587A; }

#zayav .obUnit B {
  font:bold 14px Times New Roman;
  }
#zayav .obUnit EM {
  display:block;
  float:left;
  font-size:18px;
  height:16px;
  overflow:hidden;
  position:relative;
  top:-2px;
  margin-right:2px;
  }
#zayav .noob {
  font:12px Tahoma;
  padding-top:10px;
  }
#zayav .word {
  display:block;
  margin:4px 0px;
  }
#zayav .dop {
  color:#555;
  font:italic 11px Arial;
  }
#zayav #nomer {
  width:49px;
  }
#zayav .unit {
  border:#DAE1E8 solid 1px;
  background-color:#FFF;
  margin:8px;
  padding:6px 8px;
  }
#zayav .unit H1 { margin-bottom:3px; }
#zayav .unit H1 A { font:bold 13px Tahoma; }
#zayav .unit H1 EM {
  font-size:10px;
  color:#888;
  float:right;
  }
#zayav .unit TABLE { width:100%; }
#zayav .unit .tdAbout { width:80px; }
#zayav .unit .txt {
  border:#EEE solid 1px;
  font:14px Times New Roman;
  background-color:#FFFFF0;
  padding:2px 4px;
  display:inline-block;
  }
#zayav .unit .txt TT { font:14px Times New Roman; }
#zayav .unit .ug {
  margin:0px 5px;
  color:#666;
  }
#zayav .unit .image {
  width:80px;
  vertical-align:top;
  text-align:center;
  cursor:pointer;
  }
#zayav .unit .manual {
  font-size:10px;
  color:#888;
  margin-left:5px;
  }
#zayav .unit TT {
  background-color:#e1e7ed;
  }




/* —Œ«ƒ¿Õ»≈ ÕŒ¬Œ√Œ Œ¡⁄ﬂ¬À≈Õ»ﬂ */
#zayavAdd {
  background-color:#F7F7F7;
  padding:20px 5px;
  }
#zayavAdd .headName { margin:0px 30px; }
#zayavAdd FORM { margin:20px 0px 20px 10px; }
#zayavAdd #txt {
  font:bold 12px Verdana;
  width:350px;
  resize:none;
  overflow:hidden;
  height:39px;
  }
#zayavAdd #txtCount {
  color:#583;
  margin:3px;
  }
#zayavAdd #txtCount SPAN {
  font-size:10px;
  color:#888;
  margin-left:10px;
  }
#zayavAdd .tdAbout {
  width:155px;
  text-align:right;
  }
#zayavAdd #nomer { margin-left:44px; }
#zayavAdd #telefon, #zayavAdd #adres { width:350px; }
#zayavAdd .vkButton { margin-left:200px; }
#zayavAdd #summa {
  width:60px;
  font:15px Tahoma;
  text-align:right;
  }
#zayavAdd #size_x, #zayavAdd #size_y { width:30px; }
#zayavAdd #kv_sm { width:45px; }
#zayavAdd .xb {
  font:12px Trebuchet MS;
  margin:0px 5px;
  color:#777;
  }
#zayavAdd SUP {
  font-size:10px;
  position:relative;
  top:2px;
  }
#zayavAdd #sumSkidka {
  margin-left:15px;
  display:none;
  color:#999;
  font-size:10px;
  }
#zayavAdd #note {
  height:26px;
  width:350px;
  resize:none;
  overflow:hidden;
  }
















/* œ–Œ—ÃŒ“– Œ¡⁄ﬂ¬À≈Õ»ﬂ */
.zayavView { padding:10px 8px 20px 10px; }
.zayavView .tdAbout { width:100px; }
.zayavView .line { background-color:#DFD; cursor:pointer; }
.zayavView .line:hover { background-color:#AFA; }
.zayavView .ug {
  margin:0px 7px;
  color:#666;
  }
.zayavView .txt {
  border:#DDD solid 1px;
  font:16px Times New Roman;
  background-color:#FFFFF4;
  padding:4px 8px;
  }
.zayavView .txt B {
  font:bold 14px Times New Roman;
  color:#555;
  display:block;
  margin-top:3px;
  }
.zayavView .txt IMG {
  float:left;
  margin-right:5px;
  }
.zayavView .manual {
  font-size:10px;
  margin-left:10px;
  color:#888;
  }
.zayavView .dtime {
  font-size:10px;
  text-align:right;
  color:#555;
  width:80px;
  }
.zayavView EM {
  margin-left:3px;
  color:#888;
  }
.zayavView .dop {
  color:#444;
  font-size:10px;
  }
.zayavView .skidka {
  font-size:10px;
  color:#999;
  margin-left:10px;
  }
.zayavView .past, .zayavView .past:hover { background-color:#F9F9F9; }
.zayavView .past TD, .zayavView .past EM { color:#BBB; }

.zayavView .ob { margin:5px 10px; }



.zayavView .rek { margin:5px 0px 5px 5px; }
.zayavView #left {
  vertical-align:top;
  padding-right:10px;
  width:400px;
  }
.zayavView #right { vertical-align:top; }
.zayavView #right IMG { cursor:pointer; }

.zayavView .headBlue {
  margin-top:15px;
  width:384px;
  }
.zayavView #accrual { width:400px; }
.zayavView #accrual .sum {
  text-align:right;
  width:40px;
  }
.zayavView #accrual .data {
  text-align:right;
  width:70px;
  }
.zayavView #accrual .del {
  width:19px;
  padding-left:2px;
  padding-right:0px;
  }
.zayavView #accrual .del IMG { position:absolute; }





.zayavEdit { padding:10px 0px 100px 10px; }
.zayavEdit .tdAbout {
  width:155px;
  }
.zayavEdit .tabTxtEdit { margin:10px 0px 20px 20px; }
.zayavEdit .tabTxtEdit .tdAbout { width:120px; }
.zayavEdit .vkButton { margin-left:150px;  }
.zayavEdit .txarea {
  width:350px;
  font:bold 12px Tahoma;
  resize:none;
  overflow:hidden;
  }
.zayavEdit #telefon, .zayavEdit #adres { width:350px; }
.zayavEdit #summa, .zayavEdit #prev_sum {
  width:60px;
  font:15px Tahoma;
  text-align:right;
  }
.zayavEdit #prev_sum { background-color:#DADADA; }

.zayavEdit #size_x, .zayavEdit #size_y { width:30px; }
.zayavEdit #kv_sm { width:45px; }
.zayavEdit .xb {
  font:12px Trebuchet MS;
  margin:0px 2px;
  color:#777;
  }
.zayavEdit SUP {
  font-size:10px;
  position:relative;
  top:2px;
  }
.zayavEdit #sumSkidka {
  margin-left:15px;
  display:none;
  color:#999;
  font-size:10px;
  }
.zayavEdit .txt {
  border:#DDD solid 1px;
  font:16px Times New Roman;
  background-color:#FFFFF4;
  padding:4px 8px;
  }
.zayavEdit .txt B {
  font:bold 14px Times New Roman;
  color:#555;
  display:block;
  margin-top:3px;
  }
.zayavEdit #txtCount {
  color:#583;
  margin:3px;
  }
.zayavEdit #txtCount SPAN {
  font-size:10px;
  color:#888;
  margin-left:10px;
  }














/* Œ“◊®“€ */
#report #cont {
  width:491px;
  vertical-align:top;
}
#report .headName { margin:10px; }
#report #tabAll { margin:20px 0px 30px 60px; }
#report #tabGN { margin:20px 0px 50px 20px; }
#report #tabGN EM {
  float:right;
  color:#666;
}
#report #right {
  background-color:#F7F7F7;
  border-left:#DAE1E8 solid 1px;
  padding:8px;
  min-height:300px;
  width:120px;
  vertical-align:top;
}
#report .img { margin-left:10px; }
#report #years {
  margin:20px 0px 6px 0px;
  background-color:#E8E8E8;
  height:25px;
  cursor:pointer;
}
#report #years TABLE {
  height:100%;
  width:100%;
}
#report #years .but {
  color:#CCC;
  font:bold 20px Arial;
  width:18px;
  text-align:center;
  padding:0px 5px;
}
#report #years .but:hover {
  background-color:#DDD;
  color:#AAA;
  }
#report #years #ycenter {
  width:90px;
  text-align:center;
  overflow:hidden;
}
#report #years #ycenter SPAN {
  font:bold 12px Verdana;
  color:#666;
  top:1px;
  left:0px;
  position:relative;
}
#report #months_radio DIV { display:block; }
#report #months_radio EM {
  float:right;
  color:#777;
  position:relative;
  left:10px;
}

#report #main { margin:3px 0px 25px 30px; }
#report #public { margin:3px 0px 25px 30px; }
#report #public .nomer H1 {
  display:inline-block;
  width:45px;
  text-align:right;
  margin-right:7px;
}
#report #public .nomer EM {
  color:#666;
  font-size:10px;
  display:inline-block;
  width:70px;
  text-align:right;
}
#report #public .count A {
  display:block;
  text-align:right;
}
#report #public .count H2 { font-size:10px; }
#report #public .count EM {
  text-align:right;
  font:11px Arial Narrow;
  display:inline-block;
  width:65px;
  margin-right:4px;
  color:#777;
}
#report #public .count EM B { font-family:Arial Narrow; }



#report #links { margin-bottom:15px; }
#report #rashod .info {
  margin:10px 10px 0px 10px;
  border:#DDD solid 1px;
  padding:10px;
  text-align:justify;
}
#report #rashod .vkButton { margin:10px 0px 30px 160px; }
#report #rashod .tabSpisok { margin-left:20px; }













/* ”—“¿ÕŒ¬ » */
#setup { min-height:400px; }
#setup .razdel {
  padding:10px 15px;
  background-color:#F7F7F7;
  border-bottom:#DAE1E8 solid 1px;
  }
#setup .help { margin-bottom:0px; }
#setup .headName { margin-bottom:10px; }
#setup .headName IMG { margin-left:10px; }

#setup #edit { padding:10px 20px; }

#setup #person #person_table { margin:20px 0px 20px 40px; }
#setup #person .tabSpisok { margin-bottom:1px; }
#setup #person .tabSpisok TD { background-color:#FFF; }
#setup #person .tabSpisok .name { width:180px; }
#setup #person .tabSpisok TD.name { cursor:move; }
#setup #person .tabSpisok .colvo { width:60px; text-align:center; }
#setup #person .tabSpisok .set { width:70px; text-align:center; }
.person_ost { margin-top:10px; }
.person_ost TD { padding-right:5px; }


#setup #gazNomer .set { padding-left:19px; }

#setup #rubrika #rubrika_table { margin:20px 0px 20px 40px; }
#setup #rubrika .tabSpisok { margin-bottom:1px; }
#setup #rubrika .tabSpisok TD { background-color:#FFF; }
#setup #rubrika .tabSpisok .name { width:180px; }
#setup #rubrika .tabSpisok TD.name { cursor:move; }
#setup #rubrika .tabSpisok .set { width:70px; text-align:center; }


#setup #gazNomer #dopMenu {
  background-color:#FFF;
  border-bottom:none;
  margin-top:6px;
  }
#setup #gazNomer .yellow { background-color:#FF8; }
#setup #gazNomer .grey { color:#AAA; }
.gnInfo {
  border:#DDD solid 1px;
  padding:3px 8px;
  margin:0px 10px 5px 10px;
  background-color:#F7F7F7;
  }


#setup #smKvCost .tabSpisok { margin:0px 0px 1px 40px; }
#setup #smKvCost .tabSpisok TD { background-color:#FFF; }
#setup #smKvCost .tabSpisok .name { width:180px; }
#setup #smKvCost .tabSpisok TD.name { cursor:move; }
#setup #smKvCost .tabSpisok .cena { width:80px; text-align:center; }
#setup #smKvCost .tabSpisok .set { width:65px; text-align:center; }
#setup #smKvCost INPUT { width:40px; }
#setup #smKvCost #polosaAdd {
  margin:10px 0px 20px 0px;
  display:block;
  }
#setup #smKvCost .saved {
  position:absolute;
  display:none;
  }
#setup #smKvCost .saved SPAN {
  color:#777;
  position:relative;
  left:100px;
  top:-16px;
  }

#setup #skidka .tabSpisok { margin:20px 30px; }

#setup #obDop .tabSpisok { margin:20px 30px; }

#setup #podrubrika { margin-bottom:250px; }
#setup #podRub_table { margin:5px 10px; }
#setup #podrubrika .tabSpisok { margin-bottom:1px; }
#setup #podrubrika .tabSpisok TD { background-color:#FFF; }
#setup #podrubrika .tabSpisok .name { width:250px; }
#setup #podrubrika .tabSpisok TD.name { cursor:move; }
#setup #podrubrika .tabSpisok .set { width:65px; text-align:center; }
#setup #rubrika_id { width:150px; vertical-align:top; }
#setup #podRubLinkAdd { margin-left:20px; }



.develop { padding:10px 10px 80px 10px; }
.develop .help {
  margin:15px 0px;
  background-color:#f5f2c4;
  }




#setup #access { margin:0px 40px 50px 40px; }
#setup #access #find_input {
  height:17px;
  width:200px;
  font-size:12px;
  }
#setup #access .top30 { margin-top:30px; }
#setup #access .userShow {
  border:#DDD solid 1px;
  margin:0px 20px 10px 20px;
  }
#setup #access .userShow TD { vertical-align:top; }
#setup #access .userShow .buttons {
  text-align:right;
  margin-top:10px;
  }
#setup #access .userShow .dtime {
  font-size:10px;
  color:#999;
  margin-top:3px;
  }
#setup #access .userShow .admin {
  color:#555;
  margin:3px 0px 5px 0px;
  font-weight:bold;
  }



#setup #obLen { margin:10px 20px; }
#setup #obLen INPUT { width:20px; text-align:right; }
#setup #obLen TABLE { margin-left:80px; }












/* —œ»—Œ  Œ¡⁄ﬂ¬À≈Õ»… ƒÀﬂ œŒÀ‹«Œ¬¿“≈À≈… VK*/
#obSpisok .infoLink B {
  float:right;
  color:#999;
}
#obSpisok .infoLink .sel B { color:#CCC; }
#obSpisok #tab1 {
  width:100%;
  border-bottom:#dae1e8 solid 1px;
}
#obSpisok #tab1 TD {
  background-color:#F7F7F7;
  padding:10px;
}
#obSpisok #tab1 TH {
  background-color:#F7F7F7;
  padding-right:2px;
  text-align:right;
  width:300px;
}
#obSpisok #spisok {
  width:460px;
  height:500px;
  vertical-align:top;
  padding-bottom:10px;
  }
#obSpisok #cond {
  padding:8px;
  vertical-align:top;
  background-color:#F7F7F7;
  border-left:#DAE1E8 solid 1px;
  }
#obSpisok #rubrika { margin-bottom:20px; }
#obSpisok #rubrika IMG {
  float:right;
  position:relative;
  top:3px;
  left:-5px;
  }
#obSpisok #podrubrika { margin-bottom:20px; }
#obSpisok #check_foto_only { margin-top:10px; }
#obSpisok .unit {
  width:440px;
  overflow:hidden;
  margin:0px 10px;
  padding:8px 0px;
  border-bottom:#DDD solid 1px;
}
#obSpisok .unit .txt {
  font-size:12px;
  vertical-align:top;
  }
#obSpisok .unit .txt U {
  text-decoration:none;
  font-size:12px;
  margin:0px 3px;
}
#obSpisok .unit .txt TT {
  font-size:12px;
  background-color:#e1e7ed;
}
#obSpisok .unit .aRub {
  font-size:12px;
  color:#666;
}
#obSpisok .unit .tel {
  background-image:url("data:image/gif;base64,R0lGODlhEwALAOYAAAAAAP///66Ym6igpJ2Um/Tz9J+co8XBy66rs7q5vMTDxsnIzLu5wnx7hGhncmlpdGVlb2lpcoODjIyMlbm5vrW1udra3c7O0O7u7+jo6dfX2GxteGhpcmprc3d4gKyttLO0u66vtb/AxYaIkKGjrJyeps/Q1MbHy8XGytbX22xudZqco5+hqJ6gp6mrsoCDi4mLkZ+hp6qsssjJzL2+wbO0t9fY25mboKSmq2lsc5ufqK+yucnLz7e4uqipq7/AwpOYoaqtsr7Aw9TW2Z6hpaGlqpedo7G2u8PFx+Pk5eLj5N/g4d3e387P0MnKy6OorNDT1dTX2dPW2KyxtNHa3snMzcLHyLS4uLS3t6+yssjLy+/x8fP09O7v7+zt7fH08vD08fL08u/x7+zt7Ojp5dDHwtapme7u7s3NzcnJyf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAGoALAAAAAATAAsAAAdQgGqCTIRphodphEyCglJSiJCIjmqPiIqXkJWGhZGckEyIGaKWh2qbhxlpqamnaYyChqujrK+Moaq4pbU0oaOHNLVqWDS8kcRYwcJYy8zNr4EAOw==");
  background-color:transparent;
  background-repeat:no-repeat;
  background-position:0px 3px;
  padding-left:24px;
  margin-top:3px;
  color:#606060;
  font:bold 14px Times New Roman;
}
#obSpisok .unit .adres {
  color:#BBB;
  margin-top:2px;
}
#obSpisok .unit .adres A {
  float:right;
  margin-right:10px;
}
#obSpisok .unit .foto {
  width:90px;
  text-align:right;
  vertical-align:top;
}
#obSpisok .unit .foto IMG{ cursor:pointer; }
#obSpisok .unit .ramka {
  border:#333 solid 2px;
  padding:3px 5px;
  background-color:#F7F7F7;
}
#obSpisok .unit .black {
  background-color:#555;
  color:#FFF;
  padding:10px;
}
#obSpisok .unit .bold .txt { font:bold 13px Arial; }
#obSpisok .unit .black .aRub { color:#BBB; }
#obSpisok .unit .black .tel {
  color:#CCC;
  background-image:url("data:image/gif;base64,R0lGODlhEwALAOYAAAAAANPT05B+gYuFh4J7gcvKy4SCh6OgqJCOlJqanKKhpKamqZuaoGdmblZWXldXYFRUXFdXXm1tdHR0fJqanpaWmrW1uKurrMXFxsDAwbKys1laZFZXXldYX2Nkao6PlZSVm5CRlp+fo29wd4aHjoKDiayssKSlqKOkp7KytllbYYCCh4SGi4OFioyOlGptc3FzeISGio2OlKamqZ2eoJSVmLKztn+BhYeJjldZX4GEi5GUmqaorJiZmouMjp+foHp+ho2PlJ6fobCytIOGiIaIjX2Ch5OXm6Gjpby9vru8vbi5uri4uKusrKanqIeLjqyvsbCytK+ys46Tla21uKapqqClppWZmZWYmJGUlKaoqMbIyMrLy8XGxsTExMjLycfLyMnLycbIxsTExMDBvqyloLKMf8XFxaqqqqamptPT0wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAGoALAAAAAATAAsAAAdQgGqCREQ9aYeIaT2EgoI9homRiI9qkIgFmJkFkZZpmJKem5Kih5mJpGqll56sqmmNgqqmorCNp6ykr7U0p5+INLVqWDS8ksRYwcJYy8zNsIEAOw==");
}
#obSpisok .unit .black .adres { color:#777; }
#obSpisok .unit .black .adres A { color:#8BD; }
#obSpisok .unit .black .txt TT { background-color:#696C6F; }
#obSpisok .rub {
  font:bold 17px Tahoma;
  margin:7px 0px 0px 10px;
}
#obSpisok .podrub {
  font:bold 17px Times New Roman;
  margin:5px 0px 0px 30px;
}
#obSpisok .enter {
  color:#B33;
  float:right;
  margin-right:10px;
}
.vk-ob-a { float:right; }




/* ÃŒ» Œ¡⁄ﬂ¬À≈Õ»ﬂ */
#vk-myOb { width:100%; }
#vk-myOb #spisok {
  width:470px;
  height:500px;
  vertical-align:top;
  padding-bottom:10px;
  }
#vk-myOb #cond {
  padding:10px 10px 10px 8px;
  vertical-align:top;
  background-color:#F7F7F7;
  border-left:#DAE1E8 solid 1px;
  }
#vk-myOb .head {
  padding-bottom:1px;
  margin-bottom:2px;
  border-bottom:#CCD solid 1px;
  color:#666;
  font-size:10px;
}
#vk-myOb .head .user {
  font-size:10px;
  margin-left:10px;
  color:#5988ab;
}
#vk-myOb .head .user:hover {
  color:#2B587A;
  text-decoration:none;  
}
#vk-myOb .head H2 { display:none;float:right; }
#vk-myOb .head H2 A {
  font-size:10px;
  color:#88B;
  position:relative;
  top:-3px;
}
#vk-myOb .head H2 A:hover { color:#468; }
#vk-myOb .head EM, #vk-myOb .head TT {
  color:#999;
  margin-left:10px;
  font-size:10px;
}
#vk-myOb .head TT { color:#0A0; }
#vk-myOb .unit {
  border-bottom:none;
  margin:2px 10px 10px 10px;
}
#vk-myOb .ob { padding-bottom:10px; }
#vk-myOb .archiv {
  opacity:0.4;
  background-color:#DDD;
}











/* —œ»—Œ  œŒ—≈“»“≈À≈… */
#vk-visit { width:100%; }
#vk-visit #spisok {
  width:445px;
  height:500px;
  vertical-align:top;
  }
#vk-visit #cond {
  padding:10px;
  vertical-align:top;
  background-color:#F7F7F7;
  border-left:#DAE1E8 solid 1px;
  }
#vk-visit .unit {
  margin:7px 15px;
  padding-bottom:7px;
  border-bottom:#EEE solid 1px;
  }
#vk-visit .unit .place {
  margin:3px 0px;
  color:#888;
}
#vk-visit TABLE { width:100%; }
#vk-visit .img {
  width:60px;
  height:50px;
}
#vk-visit .img IMG {
  width:50px;
  height:50px;
}
#vk-visit .time {
  float:right;
  color:#AAA;
  font-size:10px;
  }
#vk-visit SPAN {
  margin-right:6px;
  color:#A55;
  font-size:10px;
  }
#vk-visit .ob { margin-top:4px; }
#vk-visit .ob A { color:#579; }
#vk-visit .ob A:hover { color:#2B587A; }






/* Á‡„ÛÁÍ‡ Ù‡ÈÎÓ‚ */
.imgUpload INPUT { /* input type=file */
  width:75px;
  position:absolute;
  opacity:0 ;
  z-index:100;
  height:24px;
  cursor:pointer;
}
.imgUpload .button { /* ‚Ë‰ËÏ‡ˇ ÍÌÓÔÍ‡ ‰Îˇ ‚˚·Ó‡ Ù‡ÈÎ‡ */
  color:#2B587A;
  display:inline-block;
  width:75px;
  text-align:center;
  padding:5px 0px;
}
.imgUpload IFRAME { display:none; }
.imgUpload .uploading { margin:5px; } /* ‚ËÁÛ‡Î¸Ì˚È ÔÓˆÂÒÒ Á‡„ÛÁÍË */
.imgUpload .uploading A {
  position:relative;
  top:3px;
  left:5px;
}
.imgUpload .del {
  display:none;
  width:13px;
  height:13px;
  background:#666 url("data:image/gif;base64,R0lGODlhBwAHAIABAP///////yH5BAEAAAEALAAAAAAHAAcAAAIMBIKmsWrIXnLxuDMLADs=") no-repeat 3px 3px;
  opacity:0.7;
  margin-left:-13px;
  position:absolute;
}
.imgUpload .del:hover {
  background-color:#444;
  opacity:1;
}
.imgUpload DD {
  float:left;
  margin-right:3px;
}





/* ÒÓÁ‰‡ÌËÂ ÌÓ‚Ó„Ó Ó·˙ˇ‚ÎÂÌËˇ */
#vk-create-rules UL { margin:10px 0px 20px 25px; }
#vk-create-rules LI { margin-bottom:5px; }

#vk-create {
  padding:15px 25px 80px 25px;
  background-color:#F7F7F7;
}
#vk-create .info {
  border:#DDD solid 1px;
  background-color:#FFF;
  margin:15px 0px;
  padding:10px 10px 2px 10px;
}
#vk-create .info P { margin-bottom:8px; }
#vk-create .tab, #vk-create #payContent { margin-left:40px; }
#vk-create .tdAbout { text-align:right; }
#vk-create #txt, #vk-create #telefon {  width:317px; }
#vk-create #txt {
  font-size:12px;
  resize:none;
  overflow:hidden;
  height:50px
}
#vk-create #butts { margin:20px 0px 30px 160px; }
#vk-create #payContent {
  display:none;
  position:relative;
  top:-8px;
}
#vk-create #payContent .tdAbout { width:130px; }
#vk-create #obSpisok {
  width:460px;
  margin:10px 0px 20px 40px;
}
#vk-create #check_top {
  position:relative;
  top:3px;
}
#vk-create #top_week {
  position:relative;
  left:-8px;
  visibility:hidden;
}
#vk-create #top_week .inp, #vk-create #top_week .a, #vk-create #top_week .bok {
  display:inline-block;
  height:16px;
  border-top:#CCC solid 1px;
  border-bottom:#CCC solid 1px;
  padding-top:2px;
}
#vk-create #top_week .inp {
  background-color:#FFF;
  width:18px;
  text-align:center;
}
#vk-create #top_week .a {
  width:16px;
  text-align:center;
  background-color:#FFF;
  color:#AAA;
  cursor:pointer;
}
#vk-create #top_week .a:hover {
  background-color:#e9edf1;
  color:#444;  
}
#vk-create #top_week .bok {
  background-color:#CCC;
  width:1px;
  text-align:center;
}












/* œŒƒ— ¿« » */
#hint H3 {
  font-weight:bold;
  margin-bottom:7px;
  margin-left:10px;
}
#hint .img_del { float:right; }
#hint H4 { margin-top:10px; }
#hint H4 IMG { margin-top:5px; }


#adminHint { padding:15px; }
#adminHint .vkButton { margin-top:10px; }




