#client #find{background-color:#F7F7F7;padding:10px;border-bottom:#dae1e8 solid 1px}
#client .left{padding:0 8px 8px 8px}
#client .right{width:150px}
#client .dolg{color:#777;margin-left:10px;font-size:10px}
#client #vkSel_person{margin:7px 0}
#client #vkSel_skidka{margin:7px 0}
#client #dolg_check{margin-top:20px}
#client .unit{margin-top:8px;border-bottom:#dae1e8 solid 1px;padding:5px}
#client .unit em{background-color:#FFC; border-bottom:#FE2 solid 1px}
#client .label{width:80px}
#client .dop_fio{color:#999;margin-left:6px;font-size:10px}
#client .dop_fio em{font-size:10px}
#client .balans{float:right;width:110px;color:#888}
#client .balans b{float:right;color:#090}
#client b.minus{color:#a00}





#setup .left{padding:15px}
#setup .headName{margin:0 0 15px}
#setup .right{padding:0;width:180px;border-left:0}
#setup .rightLink a.sel{border-color:#6B8EB5}
#setup ._spisok{margin-bottom:1px}


#setup_worker .headName{margin-bottom:15px}
#setup_worker .unit,#setup_worker_add table{border-spacing:10px;border:#DDE solid 1px;width:300px;margin:6px 0 6px 20px}
#setup_worker .unit td,#setup_worker_add td{vertical-align:top}
#setup_worker .photo,#setup_worker_add .photo{width:50px}
#setup_worker .photo img,#setup_worker_add .photo img{width:50px;height:50px}
#setup_worker .img_del{float:right;margin-top:2px}
#setup_worker .name,#setup_worker_add .name{font-weight:bold;font-size:12px;color:#45688e}
#setup_worker .rules_set{display:block;margin-top:5px}
#setup_worker_add{margin:10px 0}
#setup_worker_add h1{font-weight:bold;color:#31618C}
#setup_worker_add input{width:240px;padding:5px;height:13px;margin:7px 5px 0 0}
#setup_worker_add .res{margin:10px 0 0 20px}


#setup_person .name{width:180px}
#setup_person td.name{cursor:move}
#setup_person .cl{width:60px;text-align:center}
#setup_person .set{width:40px}
